* {
    background-image: none;
    box-shadow: none;
}
window {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12pt;
  color: #cdd6f4;
  background-color: rgba(30, 30, 46, 0.9);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-style: solid;
  border-width: 3px;
  background-color: rgba(115, 208, 255, 0.08);
  border-color: rgba(115, 208, 255, 0.2);
  margin: 5px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

button:focus {
    background-color: rgba(115, 208, 255, 0.08);
    border-color: rgba(115, 208, 255, 0.2);
    outline: none;
}

button:hover {
    background-color: rgba(115, 208, 255, 0.15);
    border-color: rgba(115, 208, 255, 0.45);
    outline: none;
}

button:active {
    background-color: rgba(115, 208, 255, 0.22);
    border-color: rgba(115, 208, 255, 0.6);
    color: #73d0ff;
}

#lock {
    background-image: image(url("./icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}
#logout {
    background-image: image(url("./icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}
#suspend {
    background-image: image(url("./icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}
#hibernate {
    background-image: image(url("./icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}
#shutdown {
    background-image: image(url("./icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}
#reboot {
    background-image: image(url("./icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}